.section-header .rxjs-label {
    color: #5d2c89;
}

.section-header .react-redux-logo > img {
    height: 25px;
    width: 25px
}

.section-header .react-redux-logo {
    background-color: #764abc;
    padding-bottom: .25rem;
}

.section-header .react-redux-section-label {
    color: #764abc;
}